@model IEnumerable<ProLEGO.Models.ProjectVM>

@{
    ViewBag.Title = "All Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pagesize = 0;
    if (Model != null && Model.Count() > 0)
    {
        pagesize = Model.Count();
    }

    var rolelabelarray = new List<string>();
    rolelabelarray.Add("label-success");
    rolelabelarray.Add("label-primary");
    rolelabelarray.Add("label-warning");

    var slidecolor = new List<string>();
    slidecolor.Add("color-blue");
    slidecolor.Add("color-green");
    slidecolor.Add("color-cyan");
    slidecolor.Add("color-rose");

    var defaultpagesize = 4;

    var oddeventlist = new List<string>();
    oddeventlist.Add("pro-odd");
    oddeventlist.Add("pro-even");

    var detailendlist = new List<string>();
    detailendlist.Add("pro-detail");
    detailendlist.Add("pro-detail-end");


    var detailimglist = new List<string>();
    detailimglist.Add("dot-img");
    detailimglist.Add("dot-img-end");

}

<script src="~/Scripts/prolego.js" type="text/javascript"></script>
@*<div id="all-project-body"></div>*@
<div class="container main-header">
    <span class="col-md-5 logo"></span>
    <div class="col-md-3 machine">
        <span class="img-computer"></span>
        <span>@((ViewBag.compName != null)?ViewBag.compName: "SHG-L80000000")</span>
    </div>
</div>
<div class="container toolbar">
    @if (ViewBag.Admin != null && ViewBag.Admin)
            {
        <div class="project-bom" title="Project Architecture">
            <a href="/ProLEGO/ManageProColumn"><img class="toolbar-img" src="~/Content/images/add_column.png"></a>
        </div>
    }
    <div class="export-all" title="Export Projects">
        <a href="/ProLEGO/DownloadAllProject"><img class="toolbar-img" src="~/Content/images/download.png"></a>
    </div>
    <div class="search">
        <input type="text" class="search-keywords hidden" id="keywords" name="keywords" placeholder="Search for ...">
        <span class="search-img">
            <img class="toolbar-img" src="~/Content/images/search.png" title="Search">
        </span>
    </div>
</div>

<div class="container content-body">
    @if (ViewBag.NavLeft != null && ViewBag.NavLeft){
        if (ViewBag.searchkey != null){
            <div class="project-left" onclick="NavePro('currentpage=@(ViewBag.LeftPage)&searchkey=@(ViewBag.searchkey)')"></div>
        }
        else{
            <div class="project-left" onclick="NavePro('currentpage=@(ViewBag.LeftPage)')"></div>
        }

    }
    else{
        <div class="project-left"></div>
    }


    <div class="project-info">
        @for (var idx = 0; idx < defaultpagesize; idx++){
            if (pagesize > idx){
                var pvm = Model.ElementAt(idx);
                var memberheigh = (pvm.PJMemList.Count + 1) * 20;
                <div class="project-container flip-container slant @(oddeventlist[idx % 2]) @(slidecolor[idx])">
                    <div class="flipper">

                        @*@if ( ! (ViewBag.isie9 != null && ViewBag.isie9))
                        {
                            <div class="front">
                                <div class="pro-name-flip">@pvm.ProjectName</div>
                            </div>
                        }*@
                        <div class="back">
                            <div class="project-edit-content">
                            </div>
                            <input type="hidden" class="project-name-hide" value="@pvm.ProjectName" />
                            @*@if (ViewBag.isie9 != null && ViewBag.isie9){*@
                                <div class="pro-detail pro-detail-name" style="height:100px!important">
                                    <div class="dot-img"></div>
                                    <div class="detail-title all-project-name" style="font-size:24px"><strong>@pvm.ProjectName</strong></div>
                                </div>
                            @* } *@
                            <div class="pro-detail" style="height: @(memberheigh)px;">
                                <div class="dot-img"></div>
                                <div class="detail-title">Member</div>
                                <div class="detail-content">
                                    @for (var ridx = 0; ridx < pvm.PJMemList.Count; ridx++)
                                    {
                                        if (pvm.PJMemList[ridx].notshowcol)
                                        {
                                            continue;
                                        }
                                        <div class="label-member">
                                            <span>@pvm.PJMemList[ridx].colvalue</span>
                                            <span class="label @rolelabelarray[ridx%3]">@pvm.PJMemList[ridx].colname</span>
                                        </div>
                                    }
                                </div>
                            </div>

                            @for (var nidx = 0; nidx < pvm.PJNonMemList.Count; nidx++)
                            {
                                var endidx = 0;
                                if (nidx == (pvm.PJNonMemList.Count - 1))
                                {
                                    endidx = 1;
                                }
                                if (pvm.PJNonMemList[nidx].notshowcol)
                                {
                                    continue;
                                }

                                if (string.Compare(pvm.PJNonMemList[nidx].coltype, ProLEGO.Models.PROJECTCOLUMNTYPE.BOOL, true) == 0)
                                {
                                    <div class="@(detailendlist[endidx])">
                                        <div class="@(detailimglist[endidx])"></div>
                                        <div class="detail-title">@pvm.PJNonMemList[nidx].colname</div>
                                        <div class="detail-content">@pvm.PJNonMemList[nidx].colvalue</div>
                                        <div class="edit-mes hidden">
                                            <span class="mes-type mes-type-left mes-inactive">False</span>
                                            <span class="mes-type mes-type-right mes-active">True</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (pvm.PJNonMemList[nidx].colvalue.ToUpper().Contains("HTTP://")
                                        || pvm.PJNonMemList[nidx].colvalue.ToUpper().Contains("HTTPS://"))
                                    {
                                        <div class="@(detailendlist[endidx])">
                                            <div class="@(detailimglist[endidx])"></div>
                                            <div class="detail-title">@pvm.PJNonMemList[nidx].colname</div>
                                            <div class="detail-content"><a href="@pvm.PJNonMemList[nidx].colvalue" target="_blank">@pvm.PJNonMemList[nidx].colname</a></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="@(detailendlist[endidx])">
                                            <div class="@(detailimglist[endidx])"></div>
                                            <div class="detail-title">@pvm.PJNonMemList[nidx].colname</div>
                                            <div class="detail-content">@pvm.PJNonMemList[nidx].colvalue</div>
                                        </div>
                                    }
                                }
                            }
                            <div class="pro-detail-add hidden">
                                <div class="dot-img-add"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else{
                <div class="project-container slant @(oddeventlist[idx % 2]) @(slidecolor[idx])">
                    <div class="pro-name">Project @(idx + 1)</div>
                </div>
            }
        }
    </div>

    @if (ViewBag.NavRight != null && ViewBag.NavRight){
        if (ViewBag.searchkey != null){
            <div class="project-right" onclick="NavePro('currentpage=@(ViewBag.RightPage)&searchkey=@(ViewBag.searchkey)')"></div>
        }
        else{
            <div class="project-right" onclick="NavePro('currentpage=@(ViewBag.RightPage)')"></div>
        }
    }
    else{
        <div class="project-right"></div>
    }
</div>
<script>
    $(function () {
        ProLego.pro_list();
    });   
    function NavePro(value) {
        window.location.href = '/ProLEGO/AllProjects?' + value
    };
</script>

