@model IEnumerable<ProLEGO.Models.ProjectColumn>

@{
    ViewBag.Title = "Manage Pro-Arch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/addcolumn.js" type="text/javascript"></script>


<script>
    $(function () {
        AddColumn.init();
    });
    function autoCompleteFill(id, values){
        $('#'+id).autoComplete({
            minChars: 0,
            source: function (term, suggest) {
                term = term.toLowerCase();
                var choices = values;
                var suggestions = [];
                for (i = 0; i < choices.length; i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            },
            onSelect: function(event, term, item)	{
                addItem(id, term);
            }
        });
    }
    function addItem(id, value){
        var add_value = $('#'+id).val();
        if (!add_value) {
            return false;
        }
        var $col_value = $('#'+id).parent('.detail-edit').parent('.project-detail-content');
        var flg = false;
        $col_value.find('.project-label').each(function () {
            if (add_value == $(this).children('span').eq(0).html()) {
                flg = true;
            }
        });
        if (flg) {
            $('#'+id).val('');
            return false;
        }
        var col_name = $col_value.next().next().html();
        $.post('/ProLEGO/AddDefColumnValue',
        {
            col_val: add_value,
            col_name: col_name
        }, function (output) {
            if (output.success) {
                window.location.reload();
            }
            else {
                alert('Failed to add!');
            }
        });
    }
</script>
<div id="pro-detail-body"></div>
<div id="pro-detail-header"></div>
<div class="container detail-header">
    <span class="col-md-5 logo"></span>
    <div class="col-md-3 detail-machine">
        <span class="img-computer"></span>
        @if (ViewBag.compName != null)
        {
            <span>@ViewBag.compName</span>
        }
        else
        {
            <span>SHG-L80000000</span>
        }
    </div>
</div>
<div class="container">
    <div class="detail-body">
        <div class="project-detail-top"></div>
        <div class="project-key">
            <div class="project-circle-top-img"></div>
            <div class="project-detail-key">
                <div class="project-name">
                    <span>Project Architecture</span>
                </div>
                <div class="project-description"></div>
            </div>
        </div>

        @foreach (var item in Model)
        {
            var itemfobidden = false;
            if (string.Compare(item.Removed, "true", true) == 0)
            {
                itemfobidden = true;
            }

            if (string.Compare(item.ColumnType, ProLEGO.Models.PROJECTCOLUMNTYPE.INFORMATION, true) == 0
                || string.Compare(item.ColumnType, ProLEGO.Models.PROJECTCOLUMNTYPE.ROLE, true) == 0)
            {
                var itemheigh = 60;
                var defaultvallist = new List<string>();
                if (!string.IsNullOrEmpty(item.ColumnDefaultVal))
                {
                    var splitstrs = item.ColumnDefaultVal.Split(new string[] { ";", "," }, StringSplitOptions.RemoveEmptyEntries);
                    defaultvallist.AddRange(splitstrs);
                }
                itemheigh = defaultvallist.Count * 20 + itemheigh;

                <div class="project-detail" style="height: @(itemheigh)px;">
                    <div class="@(itemfobidden?"project-add-img":"project-del-img")"></div>
                    <div class="project-detail-mid">
                        <div class="project-detail-content" data-col-id="0" data-col-type="@(item.ColumnType)">
                            @foreach (var defval in defaultvallist)
                            {
                                <div class="project-label">
                                    <img src="~/Content/images/dot_del.png" class="edit-dot-del">
                                    <span>@(defval)</span>
                                </div>
                            }
                            <div class="detail-edit">
                                <input type="text" class="form-control autocomplete-input"
                                       id="@item.ColumnName.Replace(" ", "_")" name="@item.ColumnName.Replace(" ", "_")" autocomplete="off" />
                                <div class="edit-add-img"></div>
                            </div>
                        </div>
                        <div class="project-detail-line"></div>
                        <div class="project-detail-title">@item.ColumnName</div>
                        <div class="project-title-circle"></div>
                    </div>
                </div>

                if (string.Compare(item.ColumnType, ProLEGO.Models.PROJECTCOLUMNTYPE.ROLE, true) == 0)
                {
                    <script type="text/javascript">
                        autoCompleteFill('@item.ColumnName.Replace(" ", "_")', @Html.Raw(item.ColumnDefaultValList));
                    </script>
                }
            }

            if (string.Compare(item.ColumnType, ProLEGO.Models.PROJECTCOLUMNTYPE.BOOL, true) == 0)
            {
                <div class="project-detail">
                    <div class="@(itemfobidden?"project-add-img":"project-del-img")"></div>
                    <div class="project-detail-mid">
                        <div class="project-detail-content" data-col-type="@(item.ColumnType)">
                            <div class="detail-edit edit-bool-def div-span">
                                @if (string.Compare(item.ColumnDefaultVal, "true", true) == 0)
                                {
                                    <span class="bool-def-left bool-active">True</span>
                                    <span class="bool-def-right bool-inactive">False</span>
                                }
                                else
                                {
                                    <span class="bool-def-left bool-inactive">True</span>
                                    <span class="bool-def-right bool-active">False</span>
                                }
                            </div>
                        </div>
                        <div class="project-detail-line"></div>
                        <div class="project-detail-title">@item.ColumnName</div>
                        <div class="project-title-circle"></div>
                    </div>
                </div>
            }

            if (string.Compare(item.ColumnType, ProLEGO.Models.PROJECTCOLUMNTYPE.DATE, true) == 0)
            {
                <div class="project-detail">
                    <div class="@(itemfobidden?"project-add-img":"project-del-img")"></div>
                    <div class="project-detail-mid">
                        <div class="project-detail-content" data-col-type="@(item.ColumnType)">
                            <div class="input-group date" data-date="@(item.ColumnDefaultVal)" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control"  value="@(item.ColumnDefaultVal)"  id="@item.ColumnName.Replace(" ","_")" name="@item.ColumnName.Replace(" ","_")" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </span>
                            </div>
                        </div>
                        <div class="project-detail-line"></div>
                        <div class="project-detail-title">@item.ColumnName</div>
                        <div class="project-title-circle"></div>
                    </div>
                </div>
            }
        }

        <div class="add-project-col">
            <div class="add-project">
                <div class="info-up" data-col-type="@(ProLEGO.Models.PROJECTCOLUMNTYPE.DATE)"></div>
                <div class="project-detail-mid add-project-date">
                    <span class="span-column col-val col-val-date">
                        <span class="span-col-val" data-def="Date">Date</span>
                        <div class="input-group date add-date hidden col-md-8" data-date-format="yyyy-mm-dd">
                            <input type="text" class="form-control" id="def_date" name="def_date" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </span>
                    <span class="span-column col-name col-name-date">
                        <span class="span-col-name" data-def="What's date for?">What's date for?</span>
                        <div class="input-group hidden">
                            <input type="text" id="col_name_date"
                                   name="col_name_date" class="form-control" autocomplete="off">
                            <input type="hidden">
                            <span class="input-group-addon add-column">
                                <img src="~/Content/images/confirm.png" height="20" width="20">
                            </span>
                        </div>
                    </span>
                </div>
            </div>
            <div class="add-project">
                <div class="addpro-dot-img" data-col-type="@(ProLEGO.Models.PROJECTCOLUMNTYPE.BOOL)"></div>
                <div class="project-detail-mid add-project-bool">
                    <span class="bool-def div-span">
                        <span class="bool-def-left bool-active">True</span>
                        <span class="bool-def-right bool-inactive">False</span>
                        <input type="hidden" value="True">
                    </span>
                    <span class="span-column col-name col-name-bool">
                        <span class="span-col-name" data-def="What's True or Fals for?">What's True or False for?</span>
                        <div class="input-group hidden">
                            <input type="text" id="col_name_bool"
                                   name="col_name_bool" class="form-control" autocomplete="off">
                            <input type="hidden">
                            <span class="input-group-addon add-column">
                                <img src="~/Content/images/confirm.png" height="20" width="20">
                            </span>
                        </div>
                    </span>
                </div>
            </div>
            <div class="add-project">
                <div class="addpro-dot-img" data-col-type="@(ProLEGO.Models.PROJECTCOLUMNTYPE.ROLE)"></div>
                <div class="project-detail-mid add-project-name">
                    <span class="span-column col-val col-val-name">
                        <span class="span-col-val" data-def="Role">Role</span>
                        <div class="input-group hidden col-md-8">
                            <input type="text" class="form-control" id="def_name" name="def_name">
                        </div>
                    </span>
                    <span class="span-column col-name col-name-name">
                        <span class="span-col-name" data-def="What's name for?">What's name for?</span>
                        <div class="input-group hidden">
                            <input type="text" id="col_name_name"
                                   name="col_name_name" class="form-control" autocomplete="off">
                            <input type="hidden">
                            <span class="input-group-addon add-column">
                                <img src="~/Content/images/confirm.png" height="20" width="20">
                            </span>
                        </div>
                    </span>
                </div>
            </div>
            <div class="add-project">
                <div class="addpro-dot-img" data-col-type="@(ProLEGO.Models.PROJECTCOLUMNTYPE.INFORMATION)"></div>
                <div class="project-detail-mid add-project-info">
                    <span class="span-column col-val col-val-info">
                        <span class="span-col-val" data-def="Information">Information</span>
                        <div class="input-group hidden col-md-8">
                            <input type="text" class="form-control" id="def_info" name="def_info">
                        </div>
                    </span>
                    <span class="span-column col-name col-name-info">
                        <span class="span-col-name" data-def="What's information for?">What's information for?</span>
                        <div class="input-group hidden">
                            <input type="text" id="col_name_info"
                                   name="col_name_info" class="form-control" autocomplete="off">
                            <input type="hidden">
                            <span class="input-group-addon add-column">
                                <img src="~/Content/images/confirm.png" height="20" width="20">
                            </span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>